.section-seventh {
  padding-top: 48px;
  padding-bottom: 55px;
  background: #F9F9F9;
}

.section-seventh__block {
  display: flex;
  flex-direction: column;

  .section-seventh__block-title {
    font-weight: 600;
    font-size: rem(18);
    line-height: rem(24);
    text-transform: uppercase;
    color: #1F1E2C;
    text-align: center;
    display: block;
    margin-top: 26px;
    padding-bottom: 63px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }
}

.section-seventh__block-img {
  position: relative;

  img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.arrow-right {
  &:before {
    width: 30px;
    height: 51px;
    background: url("../img/arrow-right.svg") no-repeat center;
    background-size: 100% auto;
  }
}

.arrow-center {
  &:before {
    width: 16px;
    height: 51px;
    background: url("../img/arrow-center.svg") no-repeat center;
    background-size: 100% auto;
  }
}

.arrow-left {
  &:before {
    width: 30px;
    height: 51px;
    background: url("../img/arrow-left.svg") no-repeat center;
    background-size: 100% auto;
  }
}

.section-seventh__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21px;
}

.section-seventh__wrapper-title {
  font-weight: 500;
  font-size: rem(32);
  line-height: 150.19%;
  text-align: center;
  color: #2F2A5E;
}

.section-seventh__wrapper-title-color {
  font-weight: bold;
  font-size: rem(24);
  line-height: 150.19%;
  text-align: center;
  color: #D41F7E;
  margin-bottom: 40px;
  display: block;
}

.section-seventh__form {
  display: flex;
  justify-content: space-between;
  max-width: 680px;
  width: 100%;
  margin-left: -11px;
  margin-right: -11px;
}

.section-seventh__formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-seventh__form-block {
  display: flex;
  flex-direction: column;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .section-seventh__block .section-seventh__block-title {
    font-size: 14px;
    padding-bottom: 40px;
  }

  .section-seventh__wrapper-title {
    font-size: 18px;
    line-height: 24px;
  }

  .section-seventh__wrapper-title-color {
    font-size: 16px;
    line-height: 24px;
  }

  .section-seventh__form {
    flex-direction: column;
  }

  .section-seventh__form-btn {
    max-width: 189px;
    width: 100%;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding: 0;
  }
  
  .arrow-right:before,
  .arrow-center:before,
  .arrow-left:before {
    display: none;
  }

  .section-seventh__wrapper {
    padding-top: 0;
  }
}