.section-ninth {
  padding-top: 36px;
  padding-bottom: 48px;
  background: #F9F9F9;
}

.section-ninth__title {
  margin-bottom: 42px;
}

.section-ninth__video {
  overflow: hidden;
  border-radius: 10px;
  height: 366px;

  img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 366px;
  }
}

.section-ninth__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 32px;

  p {
    color: #6A6A6A;
  }
}

.section-ninth__btn {
  max-width: 186px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199.98px) {
  .section-ninth__video img {
    object-fit: cover;
    object-position: left center;
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  .section-ninth__wrapper {
    padding-left: 0;
    padding-top: 26px;
  }

  .section-ninth__btn {
    margin-top: 20px;
  }

  .section-ninth__title {
    br {
      display: none;
    }
  }
}

@media (max-width: 767.98px) {
  .section-ninth {
    padding-top: 27px;
    padding-bottom: 35px;
  }

  .section-ninth__btn {
    height: 45px;
  }

  .section-ninth__title {
    margin-bottom: 16px;
  }

  .section-ninth__video {
    height: auto;
  }
}