.section-sixth {
  padding-top: 73px;
  padding-bottom: 46px;
}

.section-sixth__text {
  font-weight: 500;
  font-size: rem(20);
  line-height: 150.19%;
  color: #6A6A6A;
}

.section-sixth__colorText {
  font-weight: bold;
  font-size: rem(20);
  line-height: rem(32);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $primary;
  display: block;
}

.section-sixth__btn {
  display: flex;
  max-width: 231px;
}

@media (max-width: 767.98px) {
  .section-sixth__text,
  .section-sixth__colorText {
    font-size: 14px;
    line-height: 150.19%;
  }

  .section-sixth {
    padding-top: 34px;
    padding-bottom: 30px;
  }
}