.section-third {
  padding-top: 53px;
  padding-bottom: 52px;
}

.section-third__item-img {
  width: 68px;
  min-width: 68px;
  margin-right: 32px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #F0F0F0;
}

.section-third__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-third__btn {
  position: absolute;
  bottom: 70px;
  left: 47%;
  transform: translateX(-50%);
}

.section-third__wrapper {
  padding-top: 30px;
}

.section-third__img {
  transform: translateX(-20px);
}

.section-third__wrapperImg {
  position: relative;
}

@media (max-width: 1199.98px) {
  .section-third__wrapperImg {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .section-third__wrapper {
    padding-top: 0;
  }

  .section-third__img {
    width: 100%;
    transform: initial;
  }

  .section-third__btn {
    bottom: 100px;
    left: 50%;
  }
}

@media (max-width: 991.98px) {
  .section-third__img {
    max-width: 500px;
  }

  .section-third__wrapperImg {
    justify-content: center;
    margin-bottom: 44px;
    height: auto;
  }

  .section-third__btn {
    bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .section-third__wrapper {
    .main-text {
      color: #6A6A6A;
      font-family: "Montserrat", sans-serif;
    }
  }

  .section-third__item-img {
    margin-right: 21px;
  }

  .section-third {
    padding-top: 37px;
    padding-bottom: 40px;
  }

  .section-third__title {
    margin-bottom: 30px !important;
  }

  .section-third__btn {
    width: 250px;
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  .section-third__btn {
    bottom: 50px;
  }
}