.section-eighth {
  padding-top: 59px;
  padding-bottom: 54px;
}

.section-eighth__title {
  margin-bottom: 63px;
}

@media (max-width: 767.98px) {
  .section-eighth__title {
    margin-bottom: 28px;
  }

  .section-eighth {
    padding-top: 28px;
    padding-bottom: 5px;
  }
}