.logo__icon {
  background: url("../img/logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 48px;
  display: block;
}

.whatsapp-icon {
  background: url("../img/whatsapp-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 23px;
  display: block;
}

.email-icon {
  background: url("../img/email-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 21px;
  height: 15px;
  display: block;
}

.call-icon {
  background: url("../img/call-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.insta-icon {
  background: url("../img/insta-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.shuttle-icon {
  background: url("../img/shuttle-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 33px;
  height: 33px;
  display: block;
}

.russia-icon {
  background: url("../img/russia-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 48px;
  display: block;
}

.shield-icon {
  background: url("../img/shield-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.calendar-icon {
  background: url("../img/calendar-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 32px;
  display: block;
}

.touch-icon {
  background: url("../img/touch-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.credit-card-icon {
  background: url("../img/credit-card-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 37px;
  display: block;
}

.timer-icon {
  background: url("../img/timer-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 43px;
  height: 43px;
  display: block;
}

.cloud-computing-icon {
  background: url("../img/cloud-computing-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.money-icon {
  background: url("../img/money-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.like-icon {
  background: url("../img/like-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 38px;
  height: 38px;
  display: block;
}

.wood-icon {
  background: url("../img/wood-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 37px;
  display: block;
}

.kitchen-icon {
  background: url("../img/kitchen-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 37px;
  display: block;
}

.clock-icon {
  background: url("../img/clock-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 56px;
  height: 56px;
  display: block;
}

.time-icon {
  background: url("../img/time-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 55px;
  height: 55px;
  display: block;
}

.economy-forecast-icon {
  background: url("../img/economy-forecast-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.price-tag-icon {
  background: url("../img/price-tag-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.architecture-icon {
  background: url("../img/architecture-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.puzzle-icon {
  background: url("../img/puzzle-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.laptop-icon {
  background: url("../img/laptop-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 56px;
  height: 56px;
  display: block;
}

.living-room-icon {
  background: url("../img/living-room-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.chip-icon {
  background: url("../img/chip-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.change-icon {
  background: url("../img/change-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 43px;
  height: 43px;
  display: block;
}

.blueprint-icon {
  background: url("../img/blueprint-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 56px;
  height: 56px;
  display: block;
}

.conversation-icon {
  background: url("../img/conversation-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 56px;
  height: 56px;
  display: block;
}

.dizlike-icon {
  background: url("../img/dizlike-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 41px;
  display: block;
}

.gift-box-icon {
  background: url("../img/gift-box-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 58px;
  height: 58px;
  display: block;
}

.building-icon {
  background: url("../img/building-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 61px;
  height: 61px;
  display: block;
}

.double-bed-icon {
  background: url("../img/double-bed-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}