.logo {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.logo__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 12px;
}

@media (max-width: 991.98px) {
  .logo__text {
    display: none;
  }
}