.media {
  margin-bottom: 33px;

  .media-img-container {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.media_v1 {
  align-items: center;

  .media-img-container {
    width: 68px;
    height: 68px;
    min-width: 68px;
    margin-right: 14px;
  }

  .media-body {
    p {
      margin-bottom: 0;
    }
  }
}

.media_v2 {
  align-items: center;

  .media-img-container {
    width: 80px;
    height: 80px;
    min-width: 80px;
    background: #ffffff;
    margin-right: 23px;
  }

  .media__title {
    font-weight: 500;
    font-size: rem(18);
    line-height: 150.19%;
    text-transform: uppercase;
    color: $font-color-2;
    margin-bottom: 9px;
    display: block;
  }

  .main-text {
    margin-bottom: 0;
  }
}

.media_v3 {
  .media-body {
    padding-top: 10px;
    max-width: 376px;
  }

  .media-img-container {
    width: 110px;
    min-width: 110px;
    height: 110px;
    margin-right: 32px;
  }

  .media-body__title {
    font-weight: 500;
    font-size: rem(18);
    line-height: 150.19%;
    text-transform: uppercase;
    color: #2F2A5E;
    font-family: "Roboto", sans-serif;
    display: block;
    margin-bottom: 9px;
  }

  .media-body__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: rem(16);
    line-height: 150.19%;
    color: #6A6A6A;
    margin-bottom: 0;
  }
}

.media_v4 {
  align-items: center;

  .media-img-container {
    width: 110px;
    min-width: 110px;
    height: 110px;
    margin-right: 17px;
  }

  .media-body {

    p {
      margin-bottom: 0;
      color: #6A6A6A;
    }
  }
}

.media_v5 {
  align-items: center;
  margin-bottom: 60px;

  .media-img-container {
    width: 113px;
    height: 113px;
    min-width: 113px;
    margin-right: 40px;
  }

  .media-body {
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #222222;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .media_v3 .media-body {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .media_v2 .media__title {
    font-size: 16px;
    line-height: 150.19%;
  }

  .media_v5 .media-body p {
    font-size: 14px;
    line-height: 17px;
  }

  .media_v3 .media-body__text {
    font-size: 14px;
    line-height: 150.19%;
  }

  .media_v3 .media-body__title {
    font-size: 16px;
    line-height: 150.19%;
  }


  .media_v4 {
    margin-bottom: 18px;
  }

  .media_v4 .media-img-container {
    width: 68px;
    height: 68px;
    min-width: 68px;

    i {
      width: 55%;
    }
  }


  .media_v3 .media-img-container {
    width: 66px;
    height: 66px;
    min-width: 66px;
    margin-right: 20px;

    i {
      width: 55%;
    }
  }

  .media_v3 .media-body__title {
    margin-bottom: 6px;
  }

  .media_v5 {
    margin-bottom: 27px;
  }

  .media_v5 .media-img-container {
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin-right: 23px;

    i {
      width: 60%;
    }
  }


  .media_v2 .media-img-container {
    width: 69px;
    height: 69px;
    min-width: 69px;
    margin-right: 18px;
  }

  .media_v1 {
    flex-direction: column;
    align-items: center;

    .media-img-container {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .media-body {
      max-width: 158px;
      
      p {
        text-align: center;
      }
    }
  }

}