.slider-container {
  max-width: 964px;
  margin-left: auto;
  margin-right: auto;

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .slick-prev {
    left: -100px;

    &:before {
      content: '';
      background: url("../img/arrow-slider.svg") no-repeat center;
      background-size: 100% auto;
      width: 30px;
      height: 8px;
    }
  }

  .slick-next {
    right: -100px;

    &:before {
      content: '';
      background: url("../img/arrow-slider.svg") no-repeat center;
      background-size: 100% auto;
      width: 30px;
      height: 8px;
      transform: rotate(180deg);
    }

  }

  .slider-container__item {
    padding: 40px 31px;
    outline: none;
    box-shadow: none;
    border: none;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
      border: none;
    }

    img {
      background: #FFFFFF;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }
}

@media (max-width: 1199.98px) {
  .slider-container .slick-prev {
    left: -30px;
  }

  .slider-container .slick-next {
    right: -30px;
  }
}

@media (max-width: 767.98px) {
  .slider-container .slick-prev {
    left: 0;
  }

  .slider-container .slick-next {
    right: 0;
  }
}

@media (max-width: 575.98px) {
  .slider-container .slick-arrow {
    top: 100%;
  }

  .slider-container .slick-prev {
    left: auto;
    right: 60%;
  }

  .slider-container .slick-next {
    right: auto;
    left: 60%;
  }

  .slider-container .slider-container__item {
    padding-bottom: 50px;
  }
}