.footer {
  background: #454455;
}

.footer__container {
  background: #2F2E40;
  padding-top: 23px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.footer__line {
  background: linear-gradient(270deg, #00A1E3 0%, #652D7F 30.73%, #DB1F7B 51.04%, #E76645 75.52%, #F09720 100%);
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  z-index: 1;
}

.footer__logo {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  .footer__logo-icon {
    width: 44px;
    height: 43px;
    background: url("../img/logo.svg") no-repeat center;
    background-size: 100% auto;
    display: block;
    margin-right: 14px;
  }

  span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E5E5E5;
  }
}

.footer__container-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #B7B7B7;

  &:hover {
    color: #B7B7B7;
    text-decoration: none;
  }
}

.footer__text-webdelo {
  display: inline-flex;
  align-items: center;
}

.footer__container-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.footer__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
  display: block;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150.19%;
  color: #E3E3E3;
  margin-bottom: 68px;
  max-width: 386px;
}

.footer__wrapper {
  margin-top: 85px;
  margin-bottom: 82px;
}

.footer__img {
  position: absolute;
  left: 0;
  bottom: -10px;
}

.footer__img-wrapper {
  position: relative;
  height: 100%;
}

.footer__img-mob {
  display: none;
}

.footer__container-list {
  display: flex;
  align-items: center;
}

@media (max-width: 1199.98px) {
  .footer__text-webdelo {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    a {
      margin-top: 8px;
    }
  }
}

@media (max-width: 991.98px) {
  .footer__title {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .footer__img-wrapper {
    height: 270px;
    overflow: hidden;
    margin-bottom: 20px;

    .footer__img {
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
  }

  .footer__img-mob {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }

  .footer__wrapper {
    margin-bottom: 38px;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__title,
  .footer__text {
    text-align: center;
  }

  .footer__title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 150.19%;
    margin-bottom: 21px;
  }

  .footer__container {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .footer__logo {
    justify-content: center;
    margin-bottom: 26px;
  }

  .footer__container-wrapper {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 36px;
  }

  .footer__container-list {
    margin-top: 11px;
    justify-content: center;

    a:first-child {
      margin-left: 0 !important;
    }
  }

  .logo-webdelo {
    display: none !important;
  }

  .footer__text-webdelo {
    display: inline;
    text-align: center;
    margin-left: 0 !important;
    max-width: 178px;
  }

}

@media (max-width: 575.98px) {
  .footer__img-wrapper {
    height: 200px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 0;
  }
}